/*Cette section définit les styles la classe "bodyComponent". 
Je le fixe en position, occupe tout l'espace de la fenêtre du navigateur (en hauteur et en largeur), 
ajoute un espacement de 10% sur les bords et organise son contenu en colonnes avec l'alignement en haut.*/

.bodyComponent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Ici, les styles ciblent les éléments <h1>
 à l'intérieur de l'élément avec la classe "accommodation-title". 
Définition de la police de caractères, suppression des marges et les espacements par défaut.
J'organise aussi le contenu en utilisant la flexibilité.*/

.accommodation-title h1 {
    font-family: 'Mundial Light', sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
}

/*Ces styles sont appliqués à la classe "firstdetails" et à ses enfants. 
L'élément "firstdetails" utilise une police en gras, aligne son contenu horizontalement 
avec un espacement vertical de 1% (choisi pour être le plus ressemblant à la page d'airbnb.
Il contient deux sections, "left-section" et "right-section", chacune avec ses propres styles pour,
comme leur nom l'indique, la partie droite et la partie gauche.*/

.firstdetails {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;

    .left-section {
        flex: 1;
        display: flex;
        align-items: center;
        margin: 0; 
        font-family: 'Roboto', sans-serif; /* Définir la police Roboto */
        font-size: 85%;


        .Comments {
            font-weight: normal;
            display: flex;
            text-decoration: underline;
            border: none;
            background-color: white;
            cursor: pointer;
            color: black;
            
            ::placeholder{
                color: black;   }
        }

        .Superhotes {
            display: flex;
            align-items: center;
            width: 1%;
            margin: 0; 
        }

        .location {
            text-decoration: underline; 
        }
        
    
    }

    .right-section {
        display: flex;
        align-items: center;
        margin-left: auto; 

        .partage{
                max-height: 16px; 
                
            }
            
        .save{
                max-height: 16px; 
                margin-left: 10%;
        }
    
        .options {
            background-color: #fff;
            display: flex;
            border-radius: 50%;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            margin-left: 5px; 
            text-decoration: underline;
            border: none;

         }
    }
}

/* Ces styles sont spécifiés pour les classe "photo" et "details".*/

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-top: 1%;
    border-radius: 10px;
}

.details {
    display: flex;
    margin-top: 2%;
}

/*Styles pour accomodation-details et ses enfants avec notamment définition de police, organisation de contenu,*
alignement des éléments, définition de hauteur et marges pour chacun*/

.accommodation-details
{
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .profil{
        max-height: 2%; 
        margin-left: 10%;
    }
}

.more-details
{
    font-family: 'Roboto', sans-serif; 
    font-size: 55%;
    font-weight: normal;
}

.listing-details-right {
    font-family: 'Roboto', sans-serif; /* Définit la police de caractères. */
    position: fixed; /* Fixe l'élément en position par rapport à la fenêtre du navigateur. */
    bottom: 20px; /* Positionne l'élément en bas de la fenêtre avec un espacement de 20px. */
    right: 10px; /* Positionne l'élément à droite de la fenêtre avec un espacement de 10px. */
    background-color: #fff; /* Définit la couleur de fond en blanc. */
    border: 1px solid #e0e0e0; /* Définit une bordure de 1px solide. */
    border-radius: 5px; /* Arrondit les coins avec un rayon de 5px. */
    padding: 20px; /* Ajoute un espacement intérieur de 20px. */
    width: 250px; /* Définit la largeur à 250px. */
    text-align: right; /* Alignement du texte à droite. */
    display: flex; /* Organise le contenu en utilisant un modèle de boîte flexible. */
    flex-direction: column; /* Organise le contenu en colonnes. */
    align-items: flex-start; /* Alignement des éléments enfants en haut. */
    justify-content: center; /* Alignement du contenu au centre. */
}

.listing-details-right h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.price {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 10%;
    text-align: left;
}

.reste {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 10%;
    text-align: left;
}

.price-amount {
    font-size: 120%; /* Définit la taille de la police à 120%. */
    font-weight: bold; /* Définit l'épaisseur du texte en gras. */
    font-family: 'Roboto', sans-serif; /* Définit la police de caractères. */
    margin-right: 10px; /* Marge à droite de 10px. */
}

.star-rating {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.others {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
}

/* Styles pour l'élément booking-controls et ses enfants */

.booking-controls {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .arrival-button{
        text-align: center;
        width: 100%;
        border-radius: 10px;
        padding: 10px 20px; 
        font-size: 16px;
        cursor: pointer;
        width: 100%; 
        margin-bottom: 10px;
    }

    .guests-button{
        text-align: left;
        border-radius: 10px;
        padding: 5px 10px; 
        font-size: 10px; 
        margin-bottom: 10px;
        cursor: pointer;
        width: 100%; 
    }

    .reserve-button {
        background-color: #FF385C; 
        color: white; 
        border: none; 
        border-radius: 10px; 
        padding: 10px 20px; 
        font-size: 16px; 
        cursor: pointer;
        width: 100%; 
    }
}