<!-- Header divisé en 3 parties : logo, barre de recherche, barre de navigation -->
<div class="headerComponent">
  <!-- Revenir à la page d'accueil lors de l'appuie sur le logo airbnb -->
  <a href="/home">
    <div class="headerLogo">
      <img class="logo" src="../../../assets/img/logo_name.svg" alt="logo SVG" />
    </div>
  </a>

  <div class="searchBar">
    <!-- Récupérer le texte du écrit dans la barre de recherche du lieu sur un évènement de relachement d'une touche clavier -->
    <input
      class="searchWhereInput"
      type="text"
      id="where"
      list="cities"
      placeholder="N'importe où"
      (keyup)="onKeyCity($event)"
    />
    <!-- Afficher dans un menu déroulant les villes qui sont proposé par l'api gouvernementale -->
    <div class="cities" *ngIf="showCitylist">
      <h1
        (click)="onClickCity(city)"
        *ngFor="let city of city$ | async"
      >{{city.nom}}</h1>
    </div>
    <!-- recherche par date, non fonctionnel -->
    <div class="searchDate">
      <input
        class="searchWhen"
        type="text"
        id="when"
        name="name"
        placeholder="Une semaine"
      />
    </div>
    <!-- Filtrer par un nombre d'invités maximum. Non fonctionnel -->
    <div class="searchGuest">
      <input
        class="searchGuestInput"
        type="text"
        id="guest"
        name="name"
        placeholder="Ajouter des voyageurs"
      />
    </div>
    <!-- lance la recherche après avoir renseigné les filtres. Non fonctionnel -->
    <div class="Magnifier div">
      <img class="Magnifier" src="../../../assets/img/loupe.png" alt="Loupe" />
    </div>
  </div>

  <!-- Barre de navigation pour changer la langue ou accéder à un menu de navigation. Non fonctionnel. -->
  <div class="navBar">
    <button class="signUp" type="button">Mettre mon logement sur Airbnb</button>
    <button class="globeButton" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        style="display: block; height: 16px; width: 16px; fill: currentColor"
        aria-hidden="true"
        role="presentation"
        focusable="false"
      >
        <path
          d="M8 .25a7.77 7.77 0 0 1 7.75 7.78 7.75 7.75 0 0 1-7.52 7.72h-.25A7.75 7.75 0 0 1 .25 8.24v-.25A7.75 7.75 0 0 1 8 .25zm1.95 8.5h-3.9c.15 2.9 1.17 5.34 1.88 5.5H8c.68 0 1.72-2.37 1.93-5.23zm4.26 0h-2.76c-.09 1.96-.53 3.78-1.18 5.08A6.26 6.26 0 0 0 14.17 9zm-9.67 0H1.8a6.26 6.26 0 0 0 3.94 5.08 12.59 12.59 0 0 1-1.16-4.7l-.03-.38zm1.2-6.58-.12.05a6.26 6.26 0 0 0-3.83 5.03h2.75c.09-1.83.48-3.54 1.06-4.81zm2.25-.42c-.7 0-1.78 2.51-1.94 5.5h3.9c-.15-2.9-1.18-5.34-1.89-5.5h-.07zm2.28.43.03.05a12.95 12.95 0 0 1 1.15 5.02h2.75a6.28 6.28 0 0 0-3.93-5.07z"
        ></path>
      </svg>
    </button>
    <button class="connexion" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="
          display: block;
          height: 50%;
          width: 100%;
          padding-right: 10%;
          fill: none;
          stroke: currentcolor;
          overflow: visible;
        "
      >
        <g fill="none"><path d="M2 16h28M2 24h28M2 8h28"></path></g>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="display: block; fill: currentcolor; height: 100%; width: 100%"
      >
        <path
          d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z"
        ></path>
      </svg>
    </button>
  </div>
</div>
