<div class="headerComponent">
    <!-- <p>header works!</p>
    <p>{{ test$ | async}}</p> -->
    <div class="headerLogo">
        <img class="logo" src="../../../assets/img/logo_name.svg" alt="logo SVG" />
    </div>
    <div class="searchBar">
        <div class="searchWhere">
            <input class="searchWhere" type="text" id="fname" name="fname" placeholder="Anywhere">
        </div>
        <div class="searchDate">
            <input class="searchWhen" type="text" id="fname" name="fname" placeholder="Any week">
        </div>
        <div class="searchGuest">
            <input class="searchGuest" type="text" id="fname" name="fname" placeholder="Add guests">
        </div>
        <div class="Magnifier div">
            <img class="Magnifier" src="../../../assets/img/loupe.svg" alt="Loupe" />
        </div>
    </div>
    <div class="navBar">
        <button class="signUp" type="button">Mettre mon logement sur Airbnb</button>
        <button class="globeButton" type="button">
            <img class="globe" src="../../../assets/img/globe_logo.svg" alt="Loupe" />
        </button>
        <button class="menuButton" type="button">
            <img class="menu" src="../../../assets/img/menu_logo.svg" alt="menu"/>
            <img class="profilPic" src="../../../assets/img/profil_pic.svg" alt="menu"/>
        </button>
    </div>
</div>


