
.headerComponent {
    position: fixed;
    z-index: 1; // Affichage au premier plan
    top: 0;
    left: 0;
    right: 0;
    height: 80px; /* Hauteur du header */
    width: 100%; /* Largeur du bouton */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% ; /* Espacement intérieur */
    border-bottom: 1px solid grey; 
    background-color: white;

    .headerLogo {
        display: flex;
        align-items: center;
        width: 15%; /* Largeur du bouton de globe */
    }
    

    .searchBar {
        border: 1px solid #e0e0e0; /* Bordure grise */
        width: 40%; /* Largeur du bouton */
        border-radius: 100px; /* Coins arrondis */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px; /* Espacement intérieur */
        ::placeholder{
            color: black;
        }
        .searchWhereInput {
            font-weight: bold;
            width: 50%;
            height: 100%;
            font-weight: bold;
            border: none;
            border-right: 1px solid grey; 
            outline: none;
            
        }
        .cities {
            transform: translateY(60%);
            position: absolute;
            max-height: 40vh;
            overflow: scroll;
            background-color: white !important;
            h1 {
                padding: 1rem;
                font-size: 1rem;
                &:hover {
                    border-radius: 8px;
                    background-color: rgb(242, 101, 101);
                    color: white;
                }
            }
        }
        .searchWhen{
            font-weight: bold;
            border:none;
        }
        
        .searchGuest {
            cursor: pointer;
            margin-right: 5px; /* Espacement entre les éléments de recherche */
        }

        .Magnifier {
            display: flex;
            align-items: center;
            width: 25%; /* Largeur du bouton de globe */
            cursor: pointer;
            width: 30px; /* Largeur du bouton */
            height: 30px; /* Hauteur du bouton */
            border-radius: 50%; /* Bouton rond */
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .navBar {
        display: flex;
        margin-right: 10%;
        align-items: center;
        justify-content: space-evenly;
        width: 30%;
        height: 50%;

        .signUp{
            background-color: #fff;
            width: 50%;
            height: 100%;
            font-weight: bold;
            border: none;
            margin-right: 2%;   
            cursor: pointer; 
        }

        .globeButton {
            // background-color: blue;
            display : flex;
            /* Ajoutez ici la définition de la couleur et de l'icône de globe */
            background-color: white;
            border: none;
            cursor: pointer;
            .globe {
                width: 4 rem;
            }
        }
    
        .connexion{
            display:flex;
            align-items: center;
            justify-content: space-between;
            width: 20%;
            height: 100%;
            padding-right:1rem;
            border: none;
            border-radius: 100px; /* Coins arrondis */
            cursor: pointer;
        }
    }
}