
.headerComponent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; /* Hauteur du header */
    width: 100%; /* Largeur du bouton */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% ; /* Espacement intérieur */
    border-bottom: 1px solid grey; 

    .headerLogo {
        display: flex;
        align-items: center;
        width: 15%; /* Largeur du bouton de globe */

        // .logo {
        //     cursor: pointer;
        //     margin-right: 10px; /* Espacement entre le logo et la barre de recherche */
        //     /* Ajoutez ici la définition de la taille et de la couleur de votre logo */
        // }
    }
    

    .searchBar {
        // flex-grow: 1;
        // margin: 0 200px; /* Espacement autour de la barre de recherche */
        border: 1px solid #e0e0e0; /* Bordure grise */
        width: 40%; /* Largeur du bouton */
        border-radius: 100px; /* Coins arrondis */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px; /* Espacement intérieur */
        ::placeholder{
            color: black;
        }
        .searchWhere {
            /*font-family: 'Nunito', sans-serif;*/ 
            font-weight: bold;
            width: 50%;
            height: 100%;
            font-weight: bold;
            border: none;
            border-right: 1px solid grey; 
            // background-color: red; 
        }
        .searchWhen{
            /*font-family: 'Nunito', sans-serif; */
            /*color: black;*/

            font-weight: bold;
            border:none; 
    
        }
            //font-family: 'Nunito', sans-serif; 
            //font-weight: bold;
        
        .searchGuest {
            cursor: pointer;
            margin-right: 5px; /* Espacement entre les éléments de recherche */
            /* Ajoutez ici la définition de la taille et de la couleur de ces éléments */
        }

        .Magnifier {
            display: flex;
            align-items: center;
            width: 25%; /* Largeur du bouton de globe */
            //background-color: #ff385c; /* Couleur de fond du bouton */
            cursor: pointer;
            width: 30px; /* Largeur du bouton */
            height: 30px; /* Hauteur du bouton */
            border-radius: 50%; /* Bouton rond */
            display: flex;
            justify-content: center;
            align-items: center;
            /* Ajoutez ici la définition de la couleur de l'icône de recherche */
        }
    }

    .navBar {
        display: flex;
        margin-right: 10%;
        align-items: center;
        justify-content: space-evenly;
        width: 30%; /* Largeur d*/
        height: 50%;

        .signUp{
            background-color: #fff;
            width: 50%;
            height: 100%;
            font-weight: bold;
            border: none;
            margin-right: 2%;   
            cursor: pointer; 
        }

        .globeButton {
            // background-color: blue;
            display : flex;
            // margin-right: 2%; /* Espacement entre les éléments de navigation */
            /* Ajoutez ici la définition de la couleur et de l'icône de globe */
            background-color: white;
            border: none;
            cursor: pointer;
            .globe {
                width: 4 rem;
            }
        }
    
        .connexion{
            display:flex;
            align-items: center;
            justify-content: space-between;
            width: 20%;
            height: 100%;
            padding-right:1rem;
            border: none;
            border-radius: 100px; /* Coins arrondis */
            cursor: pointer;
        }
    }
}
    