
.headerComponent {
    background-color: #fff; /* Couleur de fond du header */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; /* Hauteur du header */
    width: 100%; /* Largeur du bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px; /* Espacement intérieur */

    .headerLogo {
        display: flex;
        align-items: center;
        width: 25%; /* Largeur du bouton de globe */

        // .logo {
        //     cursor: pointer;
        //     margin-right: 10px; /* Espacement entre le logo et la barre de recherche */
        //     /* Ajoutez ici la définition de la taille et de la couleur de votre logo */
        // }
    }
    

    .searchBar {
        flex-grow: 1;
        // margin: 0 200px; /* Espacement autour de la barre de recherche */
        border: 1px solid #e0e0e0; /* Bordure grise */
        width: 40%; /* Largeur du bouton */
        border-radius: 100px; /* Coins arrondis */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px; /* Espacement intérieur */

        .searchWhere {
            font-family: 'Nunito', sans-serif; 
            font-weight: bold;
            border:none; 
        }
        .searchWhen{
            font-family: 'Nunito', sans-serif; 
            font-weight: bold;
            border:none; 

        }
        
            //font-family: 'Nunito', sans-serif; 
            //font-weight: bold;
        

        .searchGuest {
            cursor: pointer;
            margin-right: 5px; /* Espacement entre les éléments de recherche */
            /* Ajoutez ici la définition de la taille et de la couleur de ces éléments */
        }

        .Magnifier {
            display: flex;
            align-items: center;
            width: 25%; /* Largeur du bouton de globe */
            //background-color: #ff385c; /* Couleur de fond du bouton */
            cursor: pointer;
            width: 30px; /* Largeur du bouton */
            height: 30px; /* Hauteur du bouton */
            border-radius: 50%; /* Bouton rond */
            display: flex;
            justify-content: center;
            align-items: center;
            /* Ajoutez ici la définition de la couleur de l'icône de recherche */
        }
    }
        .searchWhere{
            background-color: #ff385c;
        }
        .login {
        display: flex;
        margin-right: 5px;
        align-items: center;
        justify-content: flex-end;
        width: 10%; /* Ajustez la largeur du composant de connexion */
        
    .loginButton {
        background-color: #ff385c; /* Couleur de fond du bouton de connexion */
        color: #fff; /* Couleur du texte du bouton de connexion */
        cursor: pointer;
        padding: 10px 20px; /* Espacement intérieur du bouton */
        border: none;
        border-radius: 5px;
        }
    .navBar {
        display: flex;
        margin-left: 5%;
        align-items: center;
        width: 30%; /* Largeur du bouton de globe */
        /*background-color: red;*/


        .globeButton globe{
            background-color: blue;
            display : flex;
            height:35px; /* Hauteur du bouton de globe */
            margin-right: 50px; /* Espacement entre les éléments de navigation */
            /* Ajoutez ici la définition de la couleur et de l'icône de globe */

            .globe {
                width: 4 rem;
            }
        }


            }
        }
    
    }