.accommodation{
    background-color: white;
    width: 330px;
    height: 370px;
    padding-left: 2%;
    margin: 25px;
    .img{
        height: 90%;
        width: auto;
        display: flex;
        justify-content: center;
        .image{
            width:100%;
            height:100%;
             border-radius: 5%;
         }
        padding-bottom: 2%;
        border-radius: 20px 10px; /* Coins supérieurs arrondis à 20px, coins inférieurs à 10px */

    }
    .firstLine{
        display: flex;
        flex-wrap: wrap;
        .city{
            height: 100%;
            width: 80%;
            font-weight: bold;
        }
        .star{
            display: flex;
            height: 4%;
            width: 4%;
        }
        .rating{
            height: 100%;
            width: 10%;
            text-align: center;
        }
    }
    .heart{
        height: 5%;
        width: 5%;
    }
}