
.bodyComponent{
    width: 100%;
    padding-top: 90px;
    margin-left: 5%;
    margin-right: 5%;

    .accomodations{
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .bodyCard{
            width:22%;
            height:22%;
            border-radius: 10px;
            cursor: pointer;
        }
        .bodyCard:focus {
            box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        }
    
        .bodyCard:hover {
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
            transform: translateY(-1px);
        }
    
        .bodyCard:active {
            box-shadow: #D6D6E7 0 3px 7px inset;
            transform: translateY(1px);
        }
    }
}