
.bodyComponent{
    width: 90%;
    padding-top: 90px;
    margin-left: 5%;
    margin-right: 5%;

    .accomodations{
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1rem;
        .bodyCard{
            width: 21vw;
            height:27vw;
        }
    }
}