<div class="bodyComponent">
    <div class="accomodations">
        <!-- Si des données dans la variables alors afficher les données -->
        <ng-container *ngIf="cardItemsFilter">   
             <!-- On veut afficher chaque logement au format défini du composant 'accomodation' -->
            <div *ngFor="let card of cardItemsFilter" class="bodyCard">
                <!-- transmettre les données de l'élément en entrée du composant enfant -->
                <app-accomodation [accomodation]=card></app-accomodation> 
            </div>
        </ng-container>
    </div>
</div>
